@layer base, utils, components;

@import "@webtui/css";
@import "@webtui/theme-catppuccin";
@import "tailwindcss";

html,
body {
  overflow-y: hidden;
}
#root {
  height: 100%;
  min-height: 0;
}

div,
header {
  --box-border-color: var(--background1);

  &:focus-within {
    --box-border-color: var(--foreground2);
  }
}
