@import "tailwindcss";

:root { 
  --primary-background: #f3f6f8;
  --primary-darker-background: #c2b8ac;
  --primary-text: #1a1d20;
  --primary-border: #1a1d20;
  --dark-navy: #181c2e;
  --navy: #212740;
  --light-navy: #2d324a;
  --lighter-navy: #959aad;
  --lighter-gray: #c8c8c8;
  --lightest-gray: #ededed;
  --light-gray: #1e1e1e;
  --black: black;

  --purple: #bb99ff;
  --light-purple: #f2ebff;
  --light-yellow: #feffc6;
  --bright-yellow: #dfff63;
  --orange: #ff7901;
  --red: #f87c72;
  --green: #72f88f;
  --blue: #A2D0FA;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin:0pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--primary-background);
  font-size: 14pt;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
}

#root {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
